<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Sum</th>
    <th>Remove</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of cart$ | async">
    <td>{{product.title}}</td>
    <td>
        <input
          type="number"
          [(ngModel)]="product.counter"
          (change)="getTotalPrice()"
        />
    </td>
    <td>{{product.price | currency}}</td>
    <td>{{+product.price * +product.counter | currency}}</td>
    <td>
      <button class="btn btn-danger" (click)="removeProduct(product); getTotalPrice()">Remove</button>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{totalPrice | number : '1.2-2' | currency}}</td>
  </tr>
  </tbody>
</table>
