<nav class="navbar bg-dark">
  <h2>
    <a routerLink='/'>Online shop</a>

    {{authorized$ | async}}
  </h2>

  <ul *ngIf="authorized$ | async; else notAuthorized">
    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'dashboard']">Dashboard</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'add']">Add products</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'orders']">Orders</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'login']" (click)="logout()">Logout</a>
    </li>
  </ul>

  <ng-template #notAuthorized>
    <ul>
      <li routerLinkActive="active">
        <a [routerLink]="['/admin', 'login']">Login</a>
      </li>
    </ul>
  </ng-template>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
