<div class="text-center">
  <h2>{{product.title}}</h2>
  <div>
    <quill-view-html [content]="product.image"></quill-view-html>
  </div>
  <div>
    <img alt="{{product.title}}" src="{{product.image}}"/>
  </div>
  <h2>Price: {{product.price}}</h2>
<!--  <button class="btn bg-dark" routerLink="/cart" (click)="addToCart(product)">Buy</button>-->
  <button class="btn bg-dark" (click)="addToCart(product)">Buy</button>
  <button class="btn bg-dark" [routerLink]="['/product', product.id]">Open</button>
</div>
